Repository Inspur-Data/dynamo, changes with the owners that CODEOWNERS names for each.
All owners: @ryanolson, @grahamking, @paulhendricks, @biswapanda, @guanluo, @rmccorm4, @alec-flowers, @oandreeva-nv, @jthomson04, @ai-dynamo/Devops, @nnshah1, @tedzhouhk, @ishandhanani, @tanmayv25, @ptarasiewiczNV, @hutm, @julienmancuso, @hhzhang16, @mohammedabdulwahhab, @piotrm-nvidia, @sshchoi, @PeaBrane, @richardhuo-nv, @krishung5, @indrajit96, @whoisj

fix scheduled tokens
  lib/bindings/python/rust/llm/block_manager/vllm/connector/leader/slot.rs
  lib/bindings/python/rust/llm/block_manager/vllm/connector/trtllm_leader.rs
  lib/bindings/python/src/dynamo/llm/trtllm_integration/connector/kvbm_connector_leader.py
  lib/bindings/python/src/dynamo/llm/trtllm_integration/connector/kvbm_connector_worker.py
Owners: @ryanolson, @grahamking, @paulhendricks, @biswapanda, @guanluo, @rmccorm4, @alec-flowers, @oandreeva-nv, @jthomson04, @ai-dynamo/Devops, @nnshah1, @tedzhouhk, @ishandhanani

fix: Relay engine_ctx between streams
  lib/llm/src/migration.rs
Owners: @ryanolson, @grahamking, @paulhendricks, @biswapanda, @guanluo, @rmccorm4, @alec-flowers, @oandreeva-nv, @jthomson04, @ai-dynamo/Devops

fix: Retain context_id between requests
  lib/llm/src/migration.rs
Owners: @ryanolson, @grahamking, @paulhendricks, @biswapanda, @guanluo, @rmccorm4, @alec-flowers, @oandreeva-nv, @jthomson04, @ai-dynamo/Devops

Fix batch size
  components/backends/trtllm/performance_sweeps/scripts/start_disagg_worker.sh
Owners: none

add logs
  lib/bindings/python/rust/llm/block_manager/vllm/connector/leader/slot.rs
Owners: @ryanolson, @grahamking, @paulhendricks, @biswapanda, @guanluo, @rmccorm4, @alec-flowers, @oandreeva-nv, @jthomson04, @ai-dynamo/Devops

chore: add flags for reasoning and tool call parser
  launch/dynamo-run/src/flags.rs
  launch/dynamo-run/src/lib.rs
  lib/llm/Cargo.toml
  lib/llm/src/postprocessor/reasoning_parser/parsers/mod.rs
  lib/llm/src/postprocessor/tool_calling/parsers.rs
Owners: @ryanolson, @grahamking, @paulhendricks, @biswapanda, @guanluo, @rmccorm4, @alec-flowers, @oandreeva-nv, @jthomson04, @ai-dynamo/Devops

fix: unused import
  launch/dynamo-run/src/lib.rs
Owners: @ryanolson, @grahamking, @paulhendricks, @biswapanda, @guanluo, @rmccorm4, @alec-flowers, @oandreeva-nv, @jthomson04, @ai-dynamo/Devops

chore: update clap
  Cargo.lock
Owners: none

add logs
  lib/bindings/python/rust/llm/block_manager/vllm/connector/trtllm_leader.rs
Owners: @ryanolson, @grahamking, @paulhendricks, @biswapanda, @guanluo, @rmccorm4, @alec-flowers, @oandreeva-nv, @jthomson04, @ai-dynamo/Devops

fix
  lib/bindings/python/rust/llm/block_manager/vllm/connector/leader/slot.rs
Owners: @ryanolson, @grahamking, @paulhendricks, @biswapanda, @guanluo, @rmccorm4, @alec-flowers, @oandreeva-nv, @jthomson04, @ai-dynamo/Devops

address comment
  components/frontend/src/dynamo/frontend/main.py
Owners: @nnshah1, @guanluo, @rmccorm4, @tedzhouhk, @alec-flowers, @ishandhanani, @jthomson04, @ai-dynamo/Devops

sglang and mocker
  components/backends/mocker/src/dynamo/mocker/main.py
  components/backends/sglang/src/dynamo/sglang/common/sgl_utils.py
  components/backends/sglang/src/dynamo/sglang/decode_worker/main.py
  components/backends/sglang/src/dynamo/sglang/worker/main.py
Owners: @nnshah1, @guanluo, @rmccorm4, @tedzhouhk, @alec-flowers, @ishandhanani, @jthomson04, @ai-dynamo/Devops

cleaner
  components/backends/mocker/src/dynamo/mocker/main.py
Owners: @nnshah1, @guanluo, @rmccorm4, @tedzhouhk, @alec-flowers, @ishandhanani, @jthomson04, @ai-dynamo/Devops

rm endpoint
  components/backends/vllm/README.md
  components/backends/vllm/deploy/README.md
  components/backends/vllm/src/dynamo/vllm/args.py
Owners: @nnshah1, @guanluo, @rmccorm4, @tedzhouhk, @alec-flowers, @ishandhanani, @jthomson04, @ai-dynamo/Devops

sglang
  components/backends/sglang/deploy/agg.yaml
  components/backends/sglang/deploy/agg_router.yaml
  components/backends/sglang/deploy/disagg-multinode.yaml
  components/backends/sglang/deploy/disagg.yaml
  components/backends/sglang/deploy/disagg_planner.yaml
  components/backends/sglang/src/dynamo/sglang/common/__init__.py
  components/backends/sglang/src/dynamo/sglang/utils/clear_namespace.py
Owners: @nnshah1, @guanluo, @rmccorm4, @tedzhouhk, @alec-flowers, @ishandhanani, @jthomson04, @ai-dynamo/Devops

inline dyn_namespace
  components/backends/sglang/src/dynamo/sglang/utils/clear_namespace.py
Owners: @nnshah1, @guanluo, @rmccorm4, @tedzhouhk, @alec-flowers, @ishandhanani, @jthomson04, @ai-dynamo/Devops

ok
  components/backends/sglang/slurm_jobs/job_script_template.j2
  components/backends/sglang/slurm_jobs/scripts/gb200-fp4.sh
  components/backends/sglang/slurm_jobs/scripts/worker_setup.py
  components/backends/sglang/slurm_jobs/submit_job_script.py
Owners: @nnshah1, @guanluo, @rmccorm4, @tedzhouhk, @alec-flowers, @ishandhanani, @jthomson04, @ai-dynamo/Devops

try
  components/backends/sglang/slurm_jobs/job_script_template.j2
  components/backends/sglang/slurm_jobs/scripts/worker_setup.py
Owners: @nnshah1, @guanluo, @rmccorm4, @tedzhouhk, @alec-flowers, @ishandhanani, @jthomson04, @ai-dynamo/Devops

ok
  components/backends/sglang/slurm_jobs/job_script_template.j2
  components/backends/sglang/slurm_jobs/submit_job_script.py
Owners: @nnshah1, @guanluo, @rmccorm4, @tedzhouhk, @alec-flowers, @ishandhanani, @jthomson04, @ai-dynamo/Devops

Create new-workflow
  .github/workflows/new-workflow
Owners: @ai-dynamo/Devops, @nnshah1

Create docker-image.yml
  .github/workflows/docker-image.yml
Owners: @ai-dynamo/Devops, @nnshah1

Update new-workflow
  .github/workflows/new-workflow
Owners: @ai-dynamo/Devops, @nnshah1

Create new-workflow-2.yaml
  .github/workflows/new-workflow-2.yaml
Owners: @ai-dynamo/Devops, @nnshah1

Update new-workflow-2.yaml
  .github/workflows/new-workflow-2.yaml
Owners: @ai-dynamo/Devops, @nnshah1

Update new-workflow-2.yaml
  .github/workflows/new-workflow-2.yaml
Owners: @ai-dynamo/Devops, @nnshah1

CODEOWNERS:

# CODEOWNERS file for Dynamo
#
# For more information about CODEOWNERS files, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Rust
*.rs @ryanolson @grahamking @paulhendricks @biswapanda @guanluo @rmccorm4 @alec-flowers @oandreeva-nv @jthomson04 @ai-dynamo/Devops
Cargo.toml @ryanolson @grahamking @paulhendricks @biswapanda @guanluo @rmccorm4 @oandreeva-nv @jthomson04 @ai-dynamo/Devops

# Python Libraries
*.py @nnshah1 @guanluo @rmccorm4 @tedzhouhk @alec-flowers @ishandhanani @jthomson04 @ai-dynamo/Devops

# Container/Environments
/container/ @rmccorm4 @tanmayv25 @ptarasiewiczNV @ishandhanani @alec-flowers @nnshah1 @ai-dynamo/Devops

# Dynamo deploy
/deploy/ @hutm @biswapanda @ishandhanani @julienmancuso @hhzhang16 @nnshah1 @mohammedabdulwahhab

# Examples
/examples/hello_world @nnshah1 @rmccorm4 @hutm @biswapanda @ishandhanani @julienmancuso @mohammedabdulwahhab @ai-dynamo/Devops

/examples/llm @ishandhanani @nnshah1 @piotrm-nvidia @ptarasiewiczNV @guanluo @rmccorm4 @tedzhouhk @alec-flowers @sshchoi @PeaBrane @ai-dynamo/Devops

/examples/tensorrt_llm @ishandhanani @nnshah1 @tanmayv25 @richardhuo-nv @guanluo @rmccorm4 @tedzhouhk @ai-dynamo/Devops

/examples/multimodal @krishung5 @indrajit96 @whoisj @rmccorm4 @nnshah1 @ishandhanani  @ai-dynamo/Devops

# CI/CD
/.github/ @ai-dynamo/Devops @nnshah1
CODEOWNERS @ai-dynamo/Devops @nnshah1

# Legal
/ATTRIBUTIONS-Rust.md @ai-dynamo/Devops
/ATTRIBUTIONS.md @ai-dynamo/Devops
/CODE_OF_CONDUCT.md @ai-dynamo/Devops
/CONTRIBUTING.md @ai-dynamo/Devops
/LICENSE @ai-dynamo/Devops
/SECURITY.md @ai-dynamo/Devops
